<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%- include('../partials/head', { title: 'Koduj Quiz App' }); %>
  <link href="https://cdn.jsdelivr.net/npm/prismjs@v1.x/themes/prism-okaidia.min.css" rel="stylesheet" />
</head>
<body>
  <%- include('../partials/header'); %>
  <main<% if (typeof class_name === 'string') { %> class="<%= class_name %>"<% } %>>
    <%- html %>
  </main>
  <%- include('../partials/footer'); %>
</body>
</html>
