<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%- include('../partials/head', { title: 'Koduj Quiz App' }); %>
  <link href="https://cdn.jsdelivr.net/npm/prismjs@v1.x/themes/prism-okaidia.min.css" rel="stylesheet" />
</head>
<body>
  <%- include('../partials/header'); %>
  <main>
    <h1><%= title %></h1>
    <noscript>
      <p class="error center">Ten quiz nie działa bez JavaScript!</p>
    </noscript>
    <div class="progress">
      <ul>
      <% for (let i = 0; i < progress.max; ++i) { %>
        <li<% if (i < progress.index) { %> class="selected"<% } %>>
            <span>
                <svg viewBox="0 0 5.5562501 7.40833">
                    <use xlink:href="#num_<%= i + 1 %>"/>
                </svg>
            </span>
        </li>
      <% } %>
    </div>
    <div class="question"><%- question %></div>
    <ul class="answers<% if (answer) { %> answer<% } %>">
      <% options.forEach(function(option, i) { %>
        <li>
          <a href="#" data-index="<%= i %>"<% if (answer?.index === i) { %> class="active static"<% } %>>
            <span class="icon">
              <svg viewBox="0 0 5.5562501 7.40833">
                <use xlink:href="#<%= option.icon %>"/>
              </svg>
            </span>
            <%= option.label %>
          </a>
          <span class="test">
            <svg viewBox="0 0 5.5562501 5.5562501">
              <use xlink:href="<% if (i === answer?.index) { %>#<%= answer.valid ? 'valid' : 'invalid' %><% } %>"/>
            </svg>
          </span>
        </li>
      <% }); %>
    </ul>
    <div class="footer">
      <div class="nav">
        <% if (progress.index < progress.max - 1) { %>
          <button id="next" class="btn"<% if (!answer) { %> disabled<% } %>>Dalej</button>
        <% } else { %>
          <button id="next" class="btn"<% if (!answer) { %> disabled<% } %>>Podsumowanie</button>
        <% } %>
      </div>
      <div class="outro"></div>
    </div>
  </main>
  <%- include('../partials/footer'); %>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@v1.x/components/prism-core.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/prismjs@v1.x/plugins/autoloader/prism-autoloader.min.js"></script>
  <script>
   const slug = '<%= slug %>';
   const poll = <%= poll %>;
   const question = <%= index %>;
   const last = <%= progress.index === progress.max - 1 ? 'true' : 'false' %>;
   const $answers = document.querySelector('.answers');
   const $question = document.querySelector('.question');
   const $next = document.querySelector('#next');
   $answers.addEventListener('click', (e) => {
       e.preventDefault();
       const $link = e.target.closest('a');
       mark_answer($link);
       validate_answer($link);
   });
   $next.addEventListener('click', (e) => {
       const url = new URL(window.location.href);
       if (last) {
           url.searchParams.delete('q');
           url.searchParams.set('p', 'summary');
       } else {
           url.searchParams.set('q', question + 2);
       }
       location.href = url;
   });
   function mark_answer($link) {
       if ($link && !$answers.classList.contains('answer')) {
           $link.classList.add('active');
           $answers.classList.add('answer');
       }
   }
   function validate_answer($link) {
       const answer = +$link.dataset.index;
       const body = new URLSearchParams();
       const id = ['invalid', 'valid'];
       body.append('answer', answer);
       body.append('question', question);
       fetch(`/answer/${poll}`, {
           method: 'post',
           body
       }).then(res => res.json())
         .then(data => {
             const $outro = document.querySelector('.outro');
             if (data.error) {
                 $outro.innerHTML = `<p class="error">${data.error}</p>`;
             } else {
                 const use = $link.closest('li').querySelector('.test use');
                 const href = document.createAttributeNS('http://www.w3.org/1999/xlink', 'xlink:href');
                 href.value = `#${id[+data.valid]}`;
                 use.setAttributeNodeNS(href);
                 $outro.innerHTML = `<p>${data.prompt}</p>\n${data.outro}`;
             }
             $next.disabled = false;
         });
   }
  </script>
</body>
</html>
